@import url('https://fonts.googleapis.com/css?family=Thasadith:400,700');

body{
  font-family: 'Thasadith', sans-serif;
  background-color: #0f4c75;
  
  
  
}

.canvas {
    width: fit-content;
    background-color: #f1f1f6;
    margin: 10rem auto;
    padding: 2rem;
    box-shadow: 2px 2px 20px #1b262c;
}

h2 {
  text-align: center;
  color: black;
}

li{
 cursor: pointer;
}

.bar {
 background: #de6b35;
 border: 2px solid #293a80;
 height: 20px;
}

.highlightText {
 font-weight: 700;
 color: #293a80;
}

.highlightBar {
  background-color: #293a80;
}

@media only screen and (min-width: 1000px) {
  .canvas {
    max-width: 750px;
  }
}